.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar input {
  width: 20%;
  height: 28px;
  border:none;
  border-bottom: 1px solid grey;
  background-color: transparent;
}
.navbar input:hover {
  outline: none;
}
.movie-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.movie-list a {
  padding: 8px;
  color: #fff;
  text-decoration: none;
}
.movie-list a:hover {
  background-color: #56A4FF;
  transition: 0.8s;
  border-radius: 8px;
}
.main-text {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  color: #fff;
}
